{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-class-properties",
    "jsx-control-statements",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
        // or 'css'
      }
    ]
  ]
} 